<p id="description">
    This is a simple text translator, pick from various silly languages, input some text and have a chuckle.
    <br />
    Due to this being a free API service, this page is limited to 5 translations an hour, upto 60 a day.
    <br />
    Apologies for any inconvenience
</p>
<br />