<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <p id="description">
            This is a simple text translator, pick from various silly languages, input some text and have a chuckle.
            <br />
            Due to this being a free API service, this page is limited to 5 translations an hour, upto 60 a day.
            <br />
            Apologies for any inconvenience
        </p>
        <br />

        <form method="post" action="/translate">
            <input type="radio" name="language" id="minion" value="minion" checked />
            <label for="minion">Minion</label>
            <br />
            <input type="radio" name="language" id="pirate" value="pirate" />
            <label for="pirate">Pirate</label>
            <br />
            <input type="radio" name="language" id="dovahzul" value="dovah" />
            <label for="dovah">Dovah (dragon)</label>
            <br />
            <input name="toTranslate" required />
            <button type="submit" id="submitButton">Translate</button>
        </form>

        <div id="error">
            <p><%= message %></p>
        </div>
    </main>

    <%- include("../partials/footer.ejs") %>

</body>
</html>